@{
    ViewData["Title"] = "Home Page";
}
  

<img src="~/img/petershore.PNG" style=" width:100px;height:100px;"/>

<div class="text-center">
    <h1 class="display-4">Calculez Votre Prime energie!</h1>

</div>
