@model PrimeSimulateur.Models.Categorie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@if (ViewData["userRole"].ToString() == "Admin")
            {

        {
              <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
        }
        else if (objectUser == "USER")
        {
            <div class="form-group">
                <label for="type">Choisir une categorie</label>
                <select name="type" id="type" class="form-control">
                   <option value="Biomasseperformante">Biomasseperformante</option>
                        <option value="bois">bois</option>
                                <option value="bois tres performant">bois tres performant</option>
                                <option value="combiné">combiné</option>
                <option value="Tres haute performance energetique">Tres haute performance energetique</option>
                        <option value="réseau de chaleur EnR&R">réseau de chaleur EnR&R</option>
                        <option value="comble et toiture">comble et toiture</option>
                        <option value="plancher bas">plancher bas</option>
                        <option value="air/eau">air/eau</option>
                        <option value="eau/eau">eau/eau</option>
                        <option value="hybride">hybride</option>
                </select>
            </div>
        }*@

            <div class="form-group">
                <label asp-for="TravailId" class="control-label"></label>
                <select asp-for="TravailId" class="form-control" asp-items="ViewBag.TravailId"></select>
            </div>
            <div class="form-group">
                <label for="type">Choisir une categorie</label>
                <select name="type" id="type" class="form-control">
                    <option value="Biomasseperformante">Biomasseperformante</option>
                    <option value="bois">bois</option>
                    <option value="bois tres performant">bois tres performant</option>
                    <option value="combiné">combiné</option>
                    <option value="Tres haute performance energetique">Tres haute performance energetique</option>
                    <option value="réseau de chaleur EnR&R">réseau de chaleur EnR&R</option>
                    <option value="comble et toiture">comble et toiture</option>
                    <option value="plancher bas">plancher bas</option>
                    <option value="pompe a chaleur">air/eau</option>
                    <option value="pompe a chaleur">eau/eau</option>
                    <option value="pompe a chaleur">hybride</option>
                </select>
            </div>

           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
