@model PrimeSimulateur.Models.Logement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Logement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="adresse" class="control-label"></label>
                <input asp-for="adresse" class="form-control" />
                <span asp-validation-for="adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <FORM>

                    <label for="Type Energie">Type energie</label>

                    <select name="typeenergie" id="typeenergie">
                        <option value="Propane">propane</option>
                        <option value="Gaz">gaz</option>
                        <option value="Electricite">Electricite</option>
                        <option value="Fioul">Fioul</option>
                        <option value="Carburant">Carburant</option>
                    </select>
                </FORM>
               
            <div class="form-group">
                <label asp-for="surface" class="control-label"></label>
                <input asp-for="surface" class="form-control" />
                <span asp-validation-for="surface" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
